{
  "extends": [
    "next",
    "next/core-web-vitals",
    "prettier"
    // "eslint:recommended",
    // "plugin:@typescript-eslint/recommended",
    // "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  // "plugins": ["@typescript-eslint", "react", "simple-import-sort"],
  "plugins": ["react", "simple-import-sort"],
  "rules": {
    "@next/next/no-html-link-for-pages": 0,
    // increase the severity of rules so they are auto-fixable
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "parser": "@typescript-eslint/parser"
}
