@import 'tailwindcss';

@theme {
  --font-family-sans: 'Inter', sans-serif;
}

:root {
  --sh-class: #7aa2f7;
  --sh-sign: #89ddff;
  --sh-string: #9ece6a;
  --sh-keyword: #bb9af7;
  --sh-comment: #565f89;
  --sh-jsxliterals: #7aa2f7;
  --sh-property: #73daca;
  --sh-entity: #e0af68;
}

html {
  min-width: 360px;
  scrollbar-gutter: stable;
}

body {
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

pre {
  background-color: #16161e;
  border-radius: 0.5rem;
  overflow-x: auto;
  padding: 1rem;
  margin: 1.5rem 0;
  line-height: 1;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
  font-size: 14px;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  background-color: var(--color-gray-100);
}

pre code {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 14px;
  line-height: 1.5;
}

pre code > span .sh__token--identifier {
  color: white !important;
}

code:not(pre code) span {
  font-weight: 500;
  color: black !important;
}

pre code span {
  font-weight: 500;
}

hr {
  color: var(--color-gray-200);
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.transition-element {
  view-transition-name: lee;
}

::view-transition-old(lee) {
  animation: fade-out 0.8s ease-in-out;
}

::view-transition-new(lee) {
  animation: fade-in-up 0.4s ease-in-out;
}

@keyframes fade-out {
  0% {
    transform: translateY(0) translateX(-0.2px);
    opacity: 1;
    font-weight: 500;
  }

  20% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.5;
  }

  40% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.3;
  }

  60% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.2;
  }

  100% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0;
  }

  20% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.5;
  }

  80% {
    transform: translateY(0) translateX(-0.2px);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0) translateX(-0.2px);
    opacity: 1;
  }
}

@supports (view-transition-name: none) {
  .fade-in {
    animation: fade-in 0.8s ease-in-out forwards;
    opacity: 0;
  }
}
