@import 'react-static-tweets/styles.css';

.static-tweet {
  margin: 40px auto;
  --tweet-bg-color: theme('colors.white');
  --tweet-font-color: theme('colors.black');
  --tweet-color-gray: theme('colors.neutral.500');
  --tweet-border: 1px solid theme('colors.neutral.200');
  --tweet-border-hover: 1px solid theme('colors.neutral.300');
}

.static-tweet-header-name {
  color: theme('colors.black');
}

@media (prefers-color-scheme: dark) {
  .static-tweet {
    --tweet-bg-color: theme('colors.neutral.900');
    --tweet-font-color: theme('colors.white');
    --tweet-color-gray: theme('colors.neutral.400');
    --tweet-border: 1px solid theme('colors.neutral.800');
    --tweet-border-hover: 1px solid theme('colors.neutral.700');
  }

  .static-tweet-header-name {
    color: theme('colors.white');
  }
}

.static-tweet-emoji {
  display: inline-flex;
}

.static-tweet-body :has(blockquote) + .static-tweet-info {
  margin-top: 1.25rem;
}

.static-tweet-summary img {
  border-radius: 4px;
}

.image-container {
  margin-bottom: 1.25rem !important;
}
